---
"$schema": /metaschema-1.json
version: '1.0'
type: object

additionalProperties: false
properties:
  "$schema":
    type: string
    enum:
    - /app-sre/environment-1.yml
  labels:
    "$ref": "/common-1.json#/definitions/labels"

  name:
    "$ref": "/common-1.json#/definitions/extendedIdentifier"

  description:
    type: string

  product:
    "$ref": "/common-1.json#/definitions/crossref"
    "$schemaRef": "/app-sre/product-1.yml"

  parameters:
    type: object

  dependsOn:
    "$ref": "/common-1.json#/definitions/crossref"
    "$schemaRef": "/app-sre/environment-1.yml"

required:
- "$schema"
- labels
- name
- description
- product
