---
"$schema": /metaschema-1.json
version: "1.0"
type: object
title: "Environment"
description: |
  Schema for defining environments in an app-interface instance.
  Environments represent logical groupings of resources and configurations for applications,
  including their name, description, product association, parameters, and dependencies.

additionalProperties: false
properties:
  "$schema":
    type: string
    enum:
    - /app-sre/environment-1.yml
  labels:
    "$ref": "/common-1.json#/definitions/labels"
  name:
    "$ref": "/common-1.json#/definitions/extendedIdentifier"
    description: |
      The unique name of the environment.
  description:
    type: string
    description: |
      A detailed description of the environment, explaining its purpose
      and scope.
  product:
    "$ref": "/common-1.json#/definitions/crossref"
    "$schemaRef": "/app-sre/product-1.yml"
    description: |
      Reference to the product associated with the environment.
  parameters:
    type: object
    description: |
      A set of key-value pairs representing environment-level parameters.
      These parameters are used to configure the environment.
  secretParameters:
    type: array
    description: |
      A list of environment-level parameters sourced from vault secrets.
    items:
      "$ref": "/app-sre/vault-secret-parameter-1.yml"
  dependsOn:
    "$ref": "/common-1.json#/definitions/crossref"
    "$schemaRef": "/app-sre/environment-1.yml"
    description: |
      Reference to another environment that this environment depends on.
      This is used to define dependencies between environments.
  servicePhase:
    type: string
    description: |
      The phase of the service lifecycle that this environment represents.
    enum:
    - dev
    - stage
    - prod
  costCenter:
    type: string
    description: |
      The 3-digit code identifying the Cost Center funding the application resources.

required:
- "$schema"
- labels
- name
- description
- product
- servicePhase
